<div id="BS_Modal" class="modal I fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 1060;">
  <div class="modal-header">
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= l(:close) %></button>
    <button class="btn btn-primary"><%= l(:button_save) %></button>
  </div>
</div>