/* ----- from a_small_things starts ---- */

div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  box-sizing: border-box;
}


.loader.form_loader {
  cursor: pointer;
  background-position: 0px 0px;
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
}

/* ----- from a_small_things ends ---- */

.us_dropdown_menu {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 10px;
  list-style: none;
}

table td.us_row_divider {
  padding: 1px 0px 0px 0px;
  background-color: #DADADA;
}

.us_dropdown_menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.us_dropdown_menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.us_dropdown_menu li {
  padding: 2px;
}

#top-menu a.icon-expand, #top-menu a.icon-expand:hover {
  /*background-image: url(../images/glyphicons-halflings-white.png);*/
  /*background-position: -264px 0;*/
  background-image: url(../images/list_white.png);
  background-position: 0 0;
  height: 16px;
  width: 16px;
  margin: 50% 0;
  padding: 0;
}

div.menu_block {
  border-bottom: 1px solid #ccc;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
}

.popover-content {
  line-height: 1.5em;
}

.popover-content div.menu_block_title {
  white-space: nowrap;
}

.popover-content div.menu_block_title div.title {
  float: left;
  font-weight: bold;
  width: 240px;
  overflow: hidden;
}

.popover-content div.menu_block_title div.grad {
  float: left;
  width: 20px;
  margin-left: -20px;
  background-image: url(../images/grad_24px.png);
}

.modal h4 {
  border-bottom: none;
}

a.close_sidebar, a.show_sidebar{
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 16px;
  height: 16px;
}

a.close_sidebar {
  background-image: url(../images/close.png);
}
a.show_sidebar {
  background-image: url(../images/diamonds.png);
}

.bt20, .bt20:link, .bt20:visited {
  height: 20px;
  border-color: #eea236;
}
.us_error_details {
  margin: 10px 0;
}

#header a {
  color: #295200;
}

.usability-settings-input {
  clear: both;
  float: left;
}
.us-perplex-tabular label
{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.us-perplex-actions fieldset
{
  margin-top: 15px;
}
.icon-us-download-all
{
  background-image: url(../images/download_all.png);
}
.us-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.us-btn-success, .us-btn-success span, .us-btn-success:hover {
  color: #FFF !important;
  background-color: #47a447;
  border-color: #fff;
  border-bottom-color: #fff !important;
}
.us-big-loader { background: url("../images/big_loader.gif") no-repeat scroll; width: 60px; height: 60px; margin-left: auto; margin-right: auto; }

.wiki.wiki-page a.collapsible {
  border-bottom-style: dotted;
}

.wiki.wiki-page .collapsed-text {
  padding-left: 9pt;
}

#preview.wiki a.collapsible {
  border-bottom-style: dotted;
}

.settings-main {
  width: 100%;
}

.settings-left {
  float: left;
  width: 49%;
}

.settings-right {
  float: left;
  margin-left: 20px;
  width: 49%;
}