.rmplus_date_links {
  overflow: hidden;
}


.rmplus_date_links a {
  display: block;
  padding: 3px;
  float: left;
}

.rmplus_date_links a.current {
  padding: 2px;
}

.rmplus_date_links span.arr {
  float: left;
  display: block;
}

#usability_menu {
  overflow: visible;
}

#content > .contextual > a,
#usability_menu,
#content > .contextual > .rmplus_date_links {
  display: block;
  float: left;
  line-height: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#content > .contextual > a.selected,
#content > .contextual > .rmplus_date_links > a {
  padding: 0 2px;
}

div.contextual {
  margin: 0;
  padding: 0;
}


#usability_menu .dropdown-menu div.title-left {
  margin: 0 10px;
  padding-left: 0;
}

#content > .contextual > a,
#content > .contextual > .dropdowns,
#usability_menu,
#content > .contextual > .rmplus_date_links {
  margin: 0;
  margin-left: 5px;
}

#usability_menu .dropdown-menu a {
  margin: 0 10px;
}



#usability_menu .dropdown-menu a:hover {
  background-color:  #fff;
}

#usability_menu .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #CCC;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  right: 12px;
  left: auto;
}

#usability_menu .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-bottom: 6px solid #FFF;
  border-left: 6px solid rgba(0, 0, 0, 0);
  content: '';
  right: 13px;
  left: auto;
}

.icon-dd-menu {
  background-image: url(../images/dd-icon.png);
}

.pdf {
  background-image: url(../images/pdf-icon.png);
}

/* ----- from a_small_things starts ---- */

div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  box-sizing: border-box;
}


.loader.form_loader {
  cursor: pointer;
  background-position: 0px 0px;
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
}

/* ----- from a_small_things ends ---- */

.modal h4 {
  border-bottom: none;
}

a.close_sidebar, a.show_sidebar{
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 16px;
  height: 16px;
}

a.close_sidebar {
  background-image: url(../images/close.png);
}
a.show_sidebar {
  background-image: url(../images/diamonds.png);
}

.bt20, .bt20:link, .bt20:visited {
  height: 20px;
  border-color: #eea236;
}
.us_error_details {
  margin: 10px 0;
}

#header a {
  color: #295200;
}

.usability-settings-input {
  clear: both;
  float: left;
}

.us-perplex-tabular label
{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.us-perplex-actions fieldset
{
  margin-top: 15px;
}
.icon-us-download-all
{
  background-image: url(../images/download_all.png);
}
.us-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.us-btn-success, .us-btn-success span, .us-btn-success:hover {
  color: #FFF !important;
  background-color: #47a447;
  border-color: #fff;
  border-bottom-color: #fff !important;
}
.us-big-loader { background: url("../images/big_loader.gif") no-repeat scroll; width: 60px; height: 60px; margin-left: auto; margin-right: auto; }

.wiki.wiki-page a.collapsible {
  border-bottom-style: dotted;
}

.wiki.wiki-page .collapsed-text {
  padding-left: 9pt;
}

#preview.wiki a.collapsible {
  border-bottom-style: dotted;
}

.settings-main {
  width: 100%;
}

.settings-left {
  float: left;
  width: 49%;
}

.settings-right {
  float: left;
  margin-left: 20px;
  width: 49%;
}

@media all {
  #content {
    width: auto;
    margin-right: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #sidebar {
    width: 20%;
    padding-left: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #main.nosidebar #content {
    margin: 0;
  }
}