#usability_menu {
  display: inline;
  overflow: visible;
  height: auto;
  width: auto;
  margin: 0;
  /*padding: 0;*/
}

#content > .contextual a {
  /*padding: 0;*/
  margin: 0;
  margin-left: 5px;
}

/* ----- from a_small_things starts ---- */

div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  box-sizing: border-box;
}


.loader.form_loader {
  cursor: pointer;
  background-position: 0px 0px;
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
}

/* ----- from a_small_things ends ---- */

.modal h4 {
  border-bottom: none;
}

a.close_sidebar, a.show_sidebar{
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 16px;
  height: 16px;
}

a.close_sidebar {
  background-image: url(../images/close.png);
}
a.show_sidebar {
  background-image: url(../images/diamonds.png);
}

.bt20, .bt20:link, .bt20:visited {
  height: 20px;
  border-color: #eea236;
}
.us_error_details {
  margin: 10px 0;
}

#header a {
  color: #295200;
}

.usability-settings-input {
  clear: both;
  float: left;
}

.us-perplex-tabular label
{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.us-perplex-actions fieldset
{
  margin-top: 15px;
}
.icon-us-download-all
{
  background-image: url(../images/download_all.png);
}
.us-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.us-btn-success, .us-btn-success span, .us-btn-success:hover {
  color: #FFF !important;
  background-color: #47a447;
  border-color: #fff;
  border-bottom-color: #fff !important;
}
.us-big-loader { background: url("../images/big_loader.gif") no-repeat scroll; width: 60px; height: 60px; margin-left: auto; margin-right: auto; }

.wiki.wiki-page a.collapsible {
  border-bottom-style: dotted;
}

.wiki.wiki-page .collapsed-text {
  padding-left: 9pt;
}

#preview.wiki a.collapsible {
  border-bottom-style: dotted;
}

.settings-main {
  width: 100%;
}

.settings-left {
  float: left;
  width: 49%;
}

.settings-right {
  float: left;
  margin-left: 20px;
  width: 49%;
}

@media all {
  #content {
    width: auto;
    margin-right: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #sidebar {
    width: 20%;
    padding-left: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #main.nosidebar #content {
    margin: 0;
  }
}