/* ----- from a_small_things starts ---- */

div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/loader.gif); 
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  box-sizing: border-box;
}


.loader.form_loader {
  cursor: pointer;
  background-position: 0px 0px;
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
}

/* ----- from a_small_things ends ---- */

div.menu_block
  {
  border-bottom: 1px solid #ccc;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  }

.popover-content
  {
  line-height: 1.5em;
  }

.popover-content div.menu_block_title
  {
  white-space: nowrap;
  
  
  }
.popover-content div.menu_block_title div.title
  {
  float: left;
  font-weight: bold;
  width: 240px;
  overflow: hidden;
  }

.popover-content div.menu_block_title div.grad
  {
  float: left;
  width: 20px;
  margin-left: -20px;
  background-image: url(../images/grad_24px.png);
  }

.modal h4
  {
   border-bottom: none; 
  }

a.close_sidebar, a.show_sidebar
  {
  
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 16px;
  height: 16px;
  }

a.close_sidebar
  {
  background-image: url(../images/close.png);
  }
a.show_sidebar
  {
  background-image: url(../images/diamonds.png);
  }
  